body {
  background-color: aliceblue;
  color:#121212;
}

.light-theme {
  background-color: aliceblue;
  color: #121212;
  --bs-body-color: #121212;
}

.dark-theme {
  background: #121212;
  color: #ddd;
  --bs-body-color: #ddd;
}

.timeline {
  border-left: 1px solid hsl(0, 0%, 90%);
  position: relative;
  left: 0;
  right: 0;
  list-style: none;
}

.timeline .timeline-item {
  position: relative;
}

.timeline .timeline-item:after {
  position: absolute;
  display: block;
  top: 0;
}

.timeline .timeline-item:after {
  background-color: hsl(0, 0%, 90%);
  left: -38px;
  border-radius: 50%;
  height: 11px;
  width: 11px;
  content: "";
}

.card {
  width: 18rem;
}